/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font: inherit; */
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset CSS end */
html {
  transition: 0.3s ease;
}

h1 {
  transition: color 0.3s;
}

h2 {
  transition: color 0.3s;
}

h3 {
  transition: color 0.3s;
}

h4 {
  transition: color 0.3s;
}

p {
  transition: color 0.3s;
}

label {
  transition: color 0.3s;
}

span {
  transition: color 0.3s;
}

.nav-base {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  background-color: #fff;
  border-bottom: 1px solid rgb(199, 199, 199);
  z-index: 10;
  transition: 0.3s ease;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  text-align: center;
  padding: 0 30px;
  z-index: 5000;
  border-bottom: 1px solid rgb(199, 199, 199);
  transition: 0.3s ease;
}

#nav2 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 3vh;
  height: 7vh;
  line-height: 7vh;
  padding: 0 30px;
  z-index: 5000;
}

@media (min-width: 1200px) {
  #nav {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
  }
  #nav2 {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
  }
}

#nav2 .bottom-nav{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 30vw;
  height: 6.5vh;
  border-radius: 1.5vh;
  line-height: 6.5vh;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.25),
              -3px -3px 10px -1px rgba(250,250,250,0.15);
  background-color: white;
}

@media (min-width: 1200px) {
  #nav2 .bottom-nav{
    width: 150px;
    border-radius: 10px;
    line-height: 50px;
  }
}


#nav .nav-logo {
  width: 9vh;
  height: 5.5vh;
  cursor: pointer;
}

#nav .nav-logo .fa-hat-cowboy {
  font-size: 5vh;
  margin: 0;
  color: #262626;
  transition: 0.3s ease;
}

#nav .nav-logo img {
  width:100%;
  height: 100%;
}

#nav .nav-user{
  position: absolute;
  top: 21%;
  right: 30px;
  width: 5vh;
}

.nav-user .nav-user-img {
  margin-bottom: 2.5vh;
}

.nav-user .nav-user-img .fa-bars {
  font-size: 5vh;
  color: black;
  margin: 0;
  transition: 0.3s ease;
}

.nav-user .nav-user-icon {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  background-color: #262626;
  line-height: 5vh;
  margin-bottom: 2vh;
  cursor: pointer;
  color: white;
  position: relative;
}

.user-bar {
  overflow-y: hidden;
  height: 20vh;
  width: 5vh;
  z-index: 50;
}

.user-bar .user-bar-list {
  list-style: none;
  text-align: center;

}


#nav2 .bottom-nav .menu-bar-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-bar-list .nav-menu-icon {
  width: 30%;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

.menu-bar-list .nav-menu-icon:hover .far{
  color: black !important;
}

.menu-bar-list .nav-menu-icon:hover .fas{
  color: black !important;
}

.menu-bar-list .menu-bar-select {
  position: absolute;
  top: 0;
  left: 1.5vw;
  background-color: black;
  border-radius: 3vh;
  height: 0.8vh;
  width: 7vw;
}
@media (min-width:1200px) {
  .menu-bar-list .menu-bar-select {
    left: 10px;
    height: 5px;
    width: 30px;
  }
}

.go-first-menu {
  left: 1.5vw !important;
  transition: 0.5s ease-out;
}
@media (min-width:1200px) {
  .go-first-menu {
    left: 10px !important;
    transition: 0.5s ease-out;
  }
}

.go-second-menu {
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  transition: 0.5s ease-out;
}
@media (min-width:1200px) {
  .go-second-menu {
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    transition: 0.5s ease-out;
  }
}

.go-third-menu {
  left: 21.5vw !important;
  transition: 0.5s ease-out;  
}
@media (min-width:1200px) {
  .go-third-menu {
    left: 74% !important;
    transition: 0.5s ease-out;  
  } 
}


#nav2 .write-icon {
  position: absolute;
  right: 30px;
  bottom: 0;
  height: 6.5vh;
  width: 6.5vh;
  border-radius: 50%;
  text-align: center;
  line-height: 6.5vh;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.25),
              -3px -3px 10px -1px rgba(250,250,250,0.15);
  cursor: pointer;
  background-color: white;
}
@media (min-width:1200px) {
  #nav2 .write-icon {
    position: absolute;
    right: 30px;
    bottom: 0;
    height: 6.5vh;
    width: 6.5vh;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.25),
                -3px -3px 10px -1px rgba(250,250,250,0.15);
    cursor: pointer;
    background-color: white;
    transition: all 0.4s;
  }
}


#nav2 .write-icon:hover{
  background-color: rgb(211, 211, 211);
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.25);
  transform: translateY(5px)
}

#nav2 .write-icon:hover .fa-pen {
  color: black
}

.user-bar-menu .user-bar-img {
  color: #fff;
  font-size: 2.5vh;
  margin: 0;
}

.nav-menu-icon .menu-bar-img {
  font-size: 2.5vh;
  margin: 0;
  color: grey;
}

.write-icon .write-icon-img {
  font-size: 2.5vh;
  margin: 0;
  color: grey;
}


.slide-user-bar-enter-active, .slide-user-bar-leave-active {
  transition: all .5s ease-in-out;
}
.slide-user-bar-enter, .slide-user-bar-leave-to {
  height: 0;
}


.wrap {
  padding: 0 30px;
  margin-top: 8vh;
  height: 100%;
  transition: 0.3s ease;
}

@media (min-width: 1200px) {
  .wrap {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  }
}
.wrap-container {
display: flex;
flex-direction: column;
align-items: center;
}

.btn {
  font-weight: 500;
  font-size: 3vh;
  text-align: center;
  cursor: pointer;
  height: 6.5vh;
  line-height: 6.5vh;
  border-radius: 1vh;
  margin-bottom: 1.2vh;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.25),
              -3px -3px 10px -1px rgba(250,250,250,0.15);
  animation-name: onbtn;
	animation-duration: 0.5s;
}

.main-logo {
  margin: 3vh 0;
  width: 40vh;
  height: 18vh;
  font-weight: 900;
  font-size: 6vh;
  transform: skew(-15deg);
  position: relative;
}

.main-logo #logo, .main-logo #logo2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 100vw;
  padding: 30px;
  animation: fill 0.5s ease forwards 2.5s;
}
/* @media (min-width:450px) {
  .main-logo #logo, .main-logo #logo2 {
    width: 120%;
  }
} */

.main-logo #logo2 {
  animation: fill-white 0.5s ease forwards 2.5s !important;
}

/* .animated-logo path:nth-child(1) {
  stroke-dasharray: 403;
  stroke-dashoffset: 403;
  animation: line-anim 1s ease forwards;
}

.animated-logo path:nth-child(2) {
  stroke-dasharray: 229;
  stroke-dashoffset: 229;
  animation: line-anim 1s ease forwards 0.3s;
}

.animated-logo path:nth-child(3) {
  stroke-dasharray: 340;
  stroke-dashoffset: 340;
  animation: line-anim 1s ease forwards 0.6s;
}

.animated-logo path:nth-child(4) {
  stroke-dasharray: 460;
  stroke-dashoffset: 460;
  animation: line-anim 1s ease forwards 0.9s;
}

.animated-logo path:nth-child(5) {
  stroke-dasharray: 539;
  stroke-dashoffset: 539;
  animation: line-anim 1s ease forwards 1.2s;
}

.animated-logo path:nth-child(6) {
  stroke-dasharray: 456;
  stroke-dashoffset: 456;
  animation: line-anim 1s ease forwards 1.5s;
} */
.animated-logo path:nth-child(1) {
  stroke-dasharray: 513;
  stroke-dashoffset: 513;
  animation: line-anim 1s ease forwards;
}

.animated-logo path:nth-child(2) {
  stroke-dasharray: 287;
  stroke-dashoffset: 287;
  animation: line-anim 1s ease forwards 0.3s;
}

.animated-logo path:nth-child(3) {
  stroke-dasharray: 439;
  stroke-dashoffset: 439;
  animation: line-anim 1s ease forwards 0.6s;
}

.animated-logo path:nth-child(4) {
  stroke-dasharray: 633;
  stroke-dashoffset: 633;
  animation: line-anim 1s ease forwards 0.9s;
}

.animated-logo path:nth-child(5) {
  stroke-dasharray: 658;
  stroke-dashoffset: 658;
  animation: line-anim 1s ease forwards 1.2s;
}

.animated-logo path:nth-child(6) {
  stroke-dasharray: 580;
  stroke-dashoffset: 580;
  animation: line-anim 1s ease forwards 1.5s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}

@keyframes fill-white {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}



.err-msg {
  margin: 0 0 0 2.5vh !important;
  color: #FF3636 !important;
  width: 100%;
  font-weight: 700 !important;
  font-size: 2vh;
  animation-name: onmessage;
	animation-duration: 1s;
}

.suc-msg {
  margin: 0 0 0 2.5vh !important;
  color: #1DDB16 !important;
  width: 100%;
  font-weight: 700 !important;
  font-size: 2vh;
  animation-name: onmessage;
	animation-duration: 1s;
}

i {
  z-index: 100;
}


.darkmode {
  position: fixed;
  left: 28px;
  bottom: 3.5vh;
  cursor: pointer;
  z-index: 1000000;
}
@media (min-width: 1200px) {
  .darkmode {
    left: 93%;
    bottom: 3%;
  }
}

.black {
  background-color: #202020;
  color: #ebebeb;
}

.wrap-dark {
  background-color: #272727;
  border: 0;
}

.nav-dark {
  background-color: #202020 !important;
  border-bottom: 0.5px solid #444444 !important;
}

.nav-logo-dark {
  color: #ebebeb !important;
}

#app {
  height: 100%;
}

.input-dark {
  color: #ebebeb;
  border-color: #ebebeb !important;
}

.textarea-dark {
  color: #ebebeb;
  border-color: #ebebeb !important;
}

.fa-bars-dark {
  color: #ebebeb !important;
}

.font-dark {
  color: #ebebeb !important;
}

.user-bar-dark {
  border: 1.5px solid;
}

@keyframes onmessage {
  0% {
    opacity: 0;
  }
	100% {
    opacity: 1;  
  }
}

@keyframes onbtn {
  0% {
    opacity: 0;
  }
	100% {
    opacity: 1;  
  }
}

.ringring {
  color: white;
  position: absolute;
  border-radius: 2vh;
  background-color: #EB0056;
  width: 3.3vh;
  height: 2.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  font-size: 1.5vh;
}