.wrap-container-alarm {
	width: 100%;
	height: 100%;
	position: relative;
}

.wrap-container-alarm .alarm-container-wrap {
	width: 100%;
	height: 80vh;
	overflow-y: auto;
	scroll-behavior: smooth;
}

.alarm-container-wrap::-webkit-scrollbar { width: 0px; }

.alarm-container-wrap .alarm-container {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 3vh;
}

.alarm-container .alarm-icon-box {
	width: 6vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-right: 1vh;
}

.alarmclass {
	cursor: pointer;
	font-size: 1.5vh;
	padding: 0 1vh;
}

.alarm-container .alrarm-time-box {
	width: 15%;
	font-size: 1.3vh;
}
@media(max-width: 300px) {
	.alarm-container .alrarm-time-box {
		width: 22%;
	}
}
@media(min-width: 450px) {
	.alarmclass {
		font-size: 2vh;
	}
	.alarm-container .alrarm-time-box {
		font-size: 1.8vh;
	}
}

.alarm-container .alarm-container-message {
	width: 100%;
	height: 9vh;
	display: flex;
	align-items: center;
	position: relative;
	/* border-bottom: 1px solid #D5D5D5; */
	padding: 1vh;
}

.alarm-icon-box .alarm-container-message-img {
	border: 1px solid gray;
	background-color: #fff;
	border-radius: 50%;
	width: 6vh;
	height: 6vh;
}

.alarm-container div .alarm-inform-text {
	font-size: 2vh;
}

.alarm-container div .alarm-time-text {
	margin-left: 1.5vh;
	color: #808080;
	font-size: 1.7vh;
}

.alarm-container .alarm-container-message:hover {
	border: 2px solid #D5D5D5;
	border-radius: 2.5vh;
	padding: 1vh;
}

.alarm-container div .heart-alarm {
	position: absolute;
	color: red;
	margin: 0;
	bottom: 0;
	right: -1vh;
	font-size: 2.5vh;
}

.alarm-container div .user-alarm {
	position: absolute;
	color: #5AAEFF;
	margin: 0;
	bottom: 0;
	right: -1vh;
	font-size: 2.5vh;
}
.alarm-container div .chat-alarm {
	position: absolute;
	color: #00b900;
	margin: 0;
	bottom: 0;
	right: -1vh;
	font-size: 2.5vh;
}

.alarm-container .alarm-container-message-read {
	width: 100%;
	height: 9vh;
	display: flex;
	align-items: center;
	position: relative;
	/* border-bottom: 1px solid #D5D5D5; */
	background-color: #BFF6F9;
	border-radius: 2.5vh;
	padding: 1vh;
}

.alarm-container .alarm-container-message-read:hover {
	border: 2px solid #BFE1F9;
	border-radius: 2.5vh;
	padding: 1vh;
}

.alarm-container-message-read-dark {
	background-color: #6a888a !important;
}

.alarmtext-dark {
	color: white;
}