.commu-margin-box {
  margin-top: 4vh;
}

.community-container {
  width: 100%;
  height: 75vh;
  flex-direction: row !important;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
  margin-top: 3vh;
}
.community-container::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.community-search-container {
  margin-top: 0;
}

.community-search-usernick {
  margin-top: 3vh;
  margin-left: 0.5vh;
  font-size: 1.7vh;
}

.my-community-head {
  width: 100%;
  margin: 1vh;
  font-size: 3vh;
  font-weight: 700;
  text-align: start;
}

.community-inner-box {
  width: 32.5%;
  height: 0;
  padding-top: 32.5%;
  margin: 0.3vw;
  background-color: grey;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}

.community-inner-box .community-sold-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

@media (min-width:1200px) {
  .community-inner-box {
    margin: 1px;
  }
  .community-inner-box .community-sold-item {
    font-size: 12px;
  }
}

.my-inner-box {
  width: 15%;
  padding-top: 15%;
}

.community-inner-box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.community-content {
  position: absolute;
  top: 80%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.25),
              -3px -3px 10px -1px rgba(250,250,250,0.15);
  width: 100%;
  transform: translateZ(20px) scaleY(0);
  /* padding: 40px 25px; */
  transform-origin: top;
  transition: 0.5s;
  padding: 1vw;
  z-index: 10000;
  cursor: default;
}
@media (min-width:1200px) {
  .community-content {
    padding: 10px;
  }
}
.community-content>p {
  color: black !important;
}

.community-inner-box:hover .community-content {
  transform: translateZ(20px) scaleY(1);
}
.community-inner-box:hover {
  z-index: 100;
}

.community-content .community-content-head {
  font-size: 3vw;
  font-weight: 700;
}
@media (min-width:1200px) {
  .community-content .community-content-head {
    font-size: 14px;
  }
}


.community-content .community-content-body {
  font-size: 3vw;
}
@media (min-width:1200px) {
  .community-content .community-content-body {
    font-size: 12px;
  }
}

.community-content .community-content-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 0.5vh;
}

.community-content-footer .community-content-btn {
  width: 11vw;
  height: 50%;
  border-radius: 2vh;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
}
@media (min-width:1200px) {
  .community-content-footer .community-content-btn {
    width: 60px;
    font-size: 12px;
  }
}

.community-content-footer .dm-btn {
  background-color: #FFBA00;
} 

.community-content-footer .del-btn {
  background-color: #FF3636;
}

.community-content-footer .non-del-btn {
  background-color: grey;
  cursor: default;
}

.community-content-footer .other-btn {
  width: 17vw;
}
@media (min-width:1200px) {
  .community-content-footer .other-btn {
    width: 80px;
  }
}


.slide-my-commu-enter-active, .slide-my-commu-leave-active {
  transition: all .5s ease-in-out;
}
.slide-my-commu-enter, .slide-my-commu-leave-to {
  height: 0;
}

.community-toggle-box {
  margin-top: 2vh;
  width:100%;
  display: flex;
  justify-content: flex-end;
}

.community-toggle-box .community-search-box {
  position: absolute;
  top: 0;
  left: calc(30px + .3vw);
  margin-top: 1vh;
}

.community-search-box .fa-user {
  font-size: 2.5vh;
  margin-right: 1vh;
  color: black;
}

.community-search-box .fa-sistrix {
  position: absolute;
  top: 50%;
  left: 16.5vh;
  transform: translate(0, -50%);
  font-size: 2vh;
  color: black;
}
@media(max-width: 320px) {
  .community-search-box .fa-sistrix {
    top: 60%;
  }
}

.community-search-box .fa-sistrix:hover {
  color: #5AAEFF;
}

.community-search-box .community-search-user {
  width: 16vh;
  height: 3vh;
  border-radius: 1vh;
  border: 1px solid black;
  padding: 0 3vh 0 1vh;
  font-size: 2vh;
}

.community-search-box .community-search-user:focus {outline:none;}

.community-toggle-box > span {
  position: absolute; 
  top: 0; 
  right: calc(25px + 10vw);
  margin-top: 1vh;
  line-height: 3vh;
  font-size: 2vh;
}

.community-toggle-box input[type="checkbox"] {
  display: none;
}

.community-toggle-box .community-toggle-inner {
  position: absolute; 
  top: 0; 
  right: 20px; 
  margin-top: 1vh;
}

.community-toggle-box label {
  display: block; 
  width: 10vw; 
  height: 3vh; 
  box-sizing: border-box; 
  border-radius: 3vh; 
  border: 1px solid #e5e5e5; 
  background: #fff; 
  transition: all 0.3s ease;
  cursor: pointer;
}

.community-toggle-box label > span {
  position: absolute; 
  top: 0.5vh; 
  left: 0.5vh; 
  display: block; 
  width: 2vh; 
  height: 2vh; 
  border-radius: 50%; 
  box-sizing: border-box; 
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25), 
              0 3px 3px 0 rgba(0, 0, 0, 0.15); 
  transition: all 0.3s cubic-bezier(0.275, -0.45, 0.725, 1.45); 
  background: #fff;
  cursor: pointer;
}

.community-toggle-box input:active + div label,
.community-toggle-box input:checked + div label {
  background-color: #abe2fb; 
  box-shadow: 0 0 2vh #abe2fb;
}

.community-toggle-box input:active + div label > span, 
.community-toggle-box input:checked + div label > span { 
  left: 5vw; 
}

@media (min-width: 450px) {
  .community-toggle-box label {
    width: 6.5vh;
  }
  .community-toggle-box input:active + div label > span, 
  .community-toggle-box input:checked + div label > span {
    left: 4vh;
  }
  .community-toggle-box > span {
    right: calc(25px + 7vh);
  }
}

.community-content .map-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17vw;
  height: 50%;
  border-radius: 2vh;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  cursor: pointer;
  font-size: 2vw;
}


.community-content .map-zone .map {
  color: #FFBA00;
  font-size: 2vw;
  margin: 0 0 0 0.5vh;
}

@media (min-width:1200px) {
  .community-content .map-zone {
    width: 80px;
    font-size: 12px;
  }
  .community-content .map-zone .map {
    font-size: 10px;
  }
}