.commu-margin-box {
  margin-top: 4vh;
}
.commu-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.commu-inner-box {
  width: 33%;
  padding-top: 33%;
  margin: 1px;
  background-color: grey;
  position: relative
}