.wrap-container-dm {
  width: 100%;
  height: 96%;
  position: relative;
}

.wrap-container-dm .dm-container-wrap {
  width: 100%;
  height: 72vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.wrap-container-dm .dm-container-wrap::-webkit-scrollbar { width: 0px; }

.wrap-container-dm .search-dm {
  border: 0px;
}

.search-dm .search-dm-input {
  position: absolute;
  bottom: 8vh;
  width: 100%;
  height: 5.5vh;
  padding: 1vh;
  padding-left: 5vh;
  border: 1px solid black;
  border-radius: 2.5vh;
  font-size: 2vh;
}

.search-dm .search-dm-input:focus {outline: none;}

.wrap-container-dm .search-img-dm {
  position: absolute;
  bottom: 9.2vh;
  left: 1.2vh;
  margin: 0;
  font-size: 3vh;
}

.dm-container-wrap .dm-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2.5vh;
}

.dm-container .dm-container-message {
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #D5D5D5; */
}

.dm-container .dm-container-message:hover {
  border: 2px solid #D5D5D5;
  border-radius: 2.5vh;
  padding: 1vh;
}

.dm-container-message .dm-container-message-img {
  border: 1px solid black;
  border-radius: 50%;
  width: 6.5vh;
  height: 6.5vh;
  margin-right: 2.5vh;
}

.dm-container-message .dm-user-name {
  font-size: 2.5vh;
}

.dm-container-message .dm-in-text {
  margin-left: 1.3vh;
  color: #808080;
  font-size: 1.7vh;
}

.search-img-dm-dark {
  color: #ebebeb;
}