.feed-user-data {
  display: flex;
  width: 100%;
  line-height: 20px;
}
.feed-user-profile {
  width: 40px;
  height: 40px;
  background-color: grey;
  border-radius: 50%;
}

.feed-user-profile img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.feed-article-head p {
  margin: 0 10px;
}
.feed-article-head .feed-username {
  font-weight: 700;
}
.feed-article-head .feed-article-date {
  font-size: 14px;
  color: grey;
}

.feed-content {
  width: 100%;
  margin: 10px 0;
}
.feed-content .feed-content-img {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: grey;

}

/* @media (min-height: 569px) and (max-height: 667px) {
  .feed-content-img {
    height: 400px !important;
  }
} */



.feed-content .feed-content-img img{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.feed-content .feed-btn-box {
  display: flex;
  height:30px;
}

.feed-content .feed-btn-box .feed-btn-left {
  display: flex;
  align-items: center;
  width: 50%;
}

.feed-content .feed-btn-box .feed-btn-left .fas {
  font-size : 100%;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.feed-content .feed-btn-box .feed-btn-right {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}

.feed-content .feed-btn-box .feed-btn-right .fas {
  font-size : 100%;
  margin: 0;
  cursor: pointer;
}


.feed-content .feed-content-head {
  font-weight: 900;
  font-size: 20px;
}

.feed-content .feed-content-tag {
  font-weight: 700;
}