.feed-write-container {
  margin-bottom: 0 !important;
}

.write-toggle-area {
  position: absolute;
  display: flex;
  top: 1vh;
  right: 30px;
}

.write-toggle-area .write-toggle-btn {
  width: 7vh;
  height: 4vh;
  position: relative;
  border: 1px solid rgba(0,0,0,0.05);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7vh;
  cursor: pointer;
  color: grey;
}

.write-toggle-area .feed-write-btn {
  box-shadow: 0px 0.7vh 1.2vh -1px rgba(0,0,0,0.15),
              -5px 0px 1.2vh 0px rgba(250,250,250,0.15);
  border-top-left-radius: 0.5vh;
  border-bottom-left-radius: 0.5vh;
}

.write-toggle-area .commu-write-btn {
  box-shadow: 0.7vh 0.7vh 1.2vh -1px rgba(0,0,0,0.15),
              0px 0px 1.2vh 0px rgba(250,250,250,0.15);
  border-top-right-radius: 0.5vh;
  border-bottom-right-radius: 0.5vh;
}

.on-feed-btn {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.1) !important;
  border: 1px solid rgba(0,0,0,0.01) !important;
  background-color: rgba(0,0,0,0.05) !important;
  /* filter: sepia(80); */
  color: black !important;
}

.write-feed-box, .write-commu-box {
  width: 100%;
}

.write-img-box {
  position: relative;
  width: 100%;
  padding-top: 35vh;
  margin-top: 5vh;
}
@media (min-width: 1200px) {
  .write-img-box {
    padding-top: 260px;
  }
}

.write-commu-img-box {
  width: 100%;
  height: 33vh;
  margin-top: 6.5vh;
  display: flex;
  justify-content: center;
}

.write-commu-img-box .write-commu-upload {
  position: relative;
  width: 20vh;
  height: 0;
  padding-top: 30vh;
}


.write-commu-upload .write-commu-cloth-hanger {
  position: absolute;
  top: -0.4vh; bottom: 0; left: 0; right: 0;
}

.write-commu-upload .write-commu-cloth-hanger img {
  width: 100%;
  height: 8vh;
}

.write-commu-img {
  position: absolute;
  top: 6vh; bottom: 0; left: 0; right: 0;
  width: 100%;
  height: 30vh;
}

.write-commu-img img {
  width: 100%;
  height: 90%;
  border-radius: 1.5vh;
}

@media (max-width:449px) {
  .write-commu-img-box .write-commu-upload {
    width: 50%;
    padding-top: 70%;
  }
  .write-commu-img {
    top: 6vh;
    height: 30vh;
  }
  .write-commu-img img {
    height: 85%;
  }
}

.write-commu-img img:hover {
  opacity: 0.7;
}

.write-hanger-box {
  position: fixed;
  top: 14.5vh; bottom: 0; left: 0; right: 0;
  width: 10000px;
  height: 2vh;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.6))
}

.write-img-box .write-hanger-img {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%;
  height: 100%;
}

.write-img-box .write-upload-btn,
.write-commu-img-box .write-upload-btn {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12vh;
  height: 5vh;
  background-color: #fff;
  box-shadow: 0 0.4vh 1.2vh 0 rgba(0,0,0,0.25);
  border-radius: 2.5vh;
  text-align: center;
  line-height: 5vh;
  cursor: pointer;
  z-index: 20;
  transition: all 0.3s;
}

.write-upload-btn input[type="file"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.feed-more-label input[type="file"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.write-img-box .write-upload-btn:hover,
.write-commu-img-box .write-upload-btn:hover {
  background-color: black;
}

.write-img-box .write-upload-btn:hover .fa-images,
.write-commu-img-box .write-upload-btn:hover .fa-images{
  color: white;
  transition: all 0.3s;
}
.write-img-box .write-upload-btn:hover .fa-plus,
.write-commu-img-box .write-upload-btn:hover .fa-plus{
  color: white;
  transition: all 0.3s;
}

.write-content-box .commu-content-textbox {
  margin-bottom: 0;
}

.write-content-box .commu-price-textbox,
.write-content-box .commu-size-textbox,
.write-content-box .commu-location-textbox,
.write-content-box .commu-category-textbox {
  height: 6vh;
  margin-bottom: 0;
}

.write-content-box .commu-body-box {
  display: flex;
  width: 100%;
}

.commu-body-box .commu-price-box{
  width: 50%;
}
.commu-body-box .commu-size-box,
.commu-body-box .commu-category-box
 {
  width: 25%;
}

.commu-body-box .commu-price-box {
  margin-right: 0.5vh;
}

.commu-body-box .commu-size-box {
  margin-left: 0.5vh;
}

.write-content-box .commu-footer-box {
  display: flex;
  width: 100%;
}

.commu-footer-box .commu-location-box {
  width: 80%;
  margin-right: 0.5vh
}

.commu-footer-box .commu-loc-search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 6vh;
  margin-top: 3.5vh;
  margin-left: 0.5vh;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  border-radius: 0.5vh;
  font-size: 1.8vh;
  cursor: pointer;
  transition: all 0.3s ease;
}

.commu-footer-box .commu-loc-search-box:hover {
  background-color: #5AAEFF;
}

.write-upload-btn .fa-images {
  margin: 0 0 0 5px;
  font-size: 2.6vh;
  transition: all 0.3s;
}

.write-upload-btn .fa-images .fa-plus {
  margin: 0;
  font-size: 1.5vh;
  transition: all 0.3s;
}

.write-cloth-box {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 5.1vh; bottom: 0; left: 0; right: 0;
  width: 100%;
  height: 10vh;
  padding: 1vh 10px;
  z-index: 10;
}

.write-cloth-box .write-cloth-hanger {
  width: 20vh;
  height: 0;
  padding-top: 7vh;
  position: relative;
}
@media (min-width: 450px) {
  .write-cloth-box .write-cloth-hanger {
    padding-top: 9vh;
}
}


.write-cloth-hanger .write-cloth-hanger-img {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%;
  height: 100%;
}

.write-cloth-hanger .write-uploaded-img {
  position: absolute;
  top: 6vh;
  width: 100%;
  height: 20vh;
}
@media (min-width: 450px) {
  .write-cloth-hanger .write-uploaded-img {
    height: 25vh;
    top: 8vh;
  }
}

.write-cloth-hanger .write-uploaded-img .feed-img {
  width: 100%;
  height: 100%;
  border-radius: 1.5vh;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.25);
  background-color: #fff;
}

.write-cloth-hanger .write-uploaded-img .cancle-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 5vh;
  color: black
}

.write-commu-img .cancle-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 5vh;
  color: black
}

.write-cloth-hanger .write-uploaded-img .fa-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 3vh;
  border-radius: 50%;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.25);
  padding: 1.3vh;
}
@media (min-width: 1200px) {
  .write-cloth-hanger .write-uploaded-img .fa-plus {
  font-size: 200%;
  }
}

.write-cloth-hanger .feed-img:hover{
  opacity: 0.7;
}

.cancle-img:hover ~ .feed-img{
  opacity: 0.7;
}

.cancle-img:hover ~ .write-commu-image{
  opacity: 0.7;
}

.write-cloth-hanger .write-uploaded-img .fa-plus:hover {
  background-color: black;
  color: #fff;
}

.write-content-box {
  width: 100%;
  margin: 0 0 1vh 0;
}

.write-content-box p {
  margin-bottom: 0.5vh;
}

.write-content-box .write-content-head {
  font-size: 2vh;
  font-weight: 700;
}

.write-content-box .write-hash-head {
  font-size: 2vh;
  font-weight: 700;
}

.write-content-box textarea {
  width: 100%;
  border: 1px solid black;
  height: 9vh;
  border-radius: 0.5vh;
  resize: none;
  padding: 1.3vh;
  font-size: 1.8vh;
  margin-bottom: 2vh;
}

@media (max-width: 449px) {
  .write-content-box textarea {
    font-size: 1.7vh;
  }
  .write-content-box .commu-location-textbox {
    height: 8vh;
  }
  .commu-footer-box .commu-loc-search-box {
    height: 8vh;
    font-size: 1.7vh;
  }
}

.write-content-box input {
  width: 100%;
  height: 6vh;
  border: 1px solid black;
  border-radius: 0.5vh;
  resize: none;
  padding: 1.3vh;
  font-size: 2vh;
}

.write-btn-box {
  width: 100%;
}

.btn.write-btn {
  color: #B0B0B0;
  background-color: grey;
  width: 100%;
  font-size: 3vh;
  box-sizing: border-box;
  cursor:default;
  margin-top: 0;
}

.btn.on-write-btn {
  color: white;
  background-color: #5AAEFF;
  border: 0;
  width: 100%;
  font-size: 3vh;
  box-sizing: border-box;
  cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s !important;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.write-hash-group {
  width: 100%;
  max-height: 8vh;
  border-radius: 0.5vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-top: 1vh;
}
.write-hash-group::-webkit-scrollbar { width: 5px; }
/* 스크롤바의 width */
::-webkit-scrollbar-track { background-color: transparent; }
/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb { background: silver;}
/* 스크롤바 색 */
::-webkit-scrollbar-button { display: none; }
/* 스크롤바 버튼 */

.write-hash-group .write-hash-item {
  background-color: #050505;
  color: #fff;
  border-radius: 1.5vh;
  margin: 0.5vh 0.8vh 0 0;
  height: 3vh;
  font-size: 1.8vh;
  padding: 0 2vh;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .write-hash-group .write-hash-item {
  padding: 0 2%;
  }
}

.write-hash-item .write-hash-item-close-btn {
  display: inline-block;
  cursor: pointer;
  /* margin-right: 5px; */
}

.write-hash-item-close-btn .fa-times {
  font-size: 80%;
  font-weight: 600;
  color: #fff;
  margin: 0 5px 5px 0;
}

.write-hash-item-close-btn .fa-times:hover{
  color: #fc0303;
}

.cloth-hanger-dark {
  filter: invert(70%);
}

.hanger-dark {
  background: linear-gradient(to top, rgba(255,255,255,1), rgb(99, 99, 99))
}

.write-plus-dark {
  color: #ebebeb !important;
}
.write-plus-dark:hover {
  background-color: #ebebeb !important;
  color: #202020 !important;
}

.write-cancle-dark {
  color: #ebebeb !important;
}

.toggle-dark {
  background-color: rgba(0,0,0,0.4) !important;
  color: #fff !important;
}
