.findpasswordok-head {
  width: 100%;
  margin: 6vh 0;
  font-size: 2.5vh;
}
.findpasswordok-btn-area {
  margin-top: 7vh;
  width: 100%;
}

.findpasswordok-btn-area .btn.re-submit-btn {
  color: white;
  background-color: #ED4C00;
  width: 100%;
  font-size: 2.7vh;
  box-sizing: border-box;
}

.findpasswordok-btn-area .btn.re-submit-btn:hover {
  opacity: 0.8;
}

.findpasswordok-btn-area .btn.go-login-btn:hover {
  opacity: 0.8;
}

.findpasswordok-btn-area .btn.go-login-btn {
  color: white;
  background-color: #5AAEFF;
  width: 100%;
  font-size: 2.7vh;
  box-sizing: border-box;
}


.findpasswordok-btn-area .timeParent {
  position: relative;
  margin-bottom: 1.2vh;
  border: 1.5px solid #686868;
  border-radius: 0.8vh;
}

.findpasswordok-btn-area .timeParent:hover {
  opacity: 0.8;
  cursor: pointer;
}

.timeParent .uuid {
  width: 100%;
  text-align: center;
  height: 6.5vh;
  cursor: pointer;
  font-size: 2vh;
}

.timeParent #time {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%);
  font-size: 2vh;
}
