.find-head {
  width: 100%;
  margin: 8vh 0;
  font-size: 2.5vh;
}

.find-input-area {
  width: 100%;
  margin-bottom: 3vh;
  position: relative;
}

.find-input-area #find-email {
  height: 8vh;
  width: 100%;
  border-radius: 0.8vh;
  border: 1px solid #D5D5D5;
  background-color: #D5D5D5;
  padding: 0 0 0 2vh;
  box-sizing: border-box;
  color: #686868;
  font-size: 2vh;
  font-family: "Noto Sans KR", sans-serif !important;
}

.find-input-area #find-birth {
  height: 8vh;
  width: 100%;
  border-radius: 0.8vh;
  border: 1px solid #D5D5D5;
  background-color: #D5D5D5;
  padding: 0 0 0 2vh;
  box-sizing: border-box;
  color: #686868;
  font-size: 2vh;
  font-family: "Noto Sans KR", sans-serif !important;
}

.find-input-area #find-email:focus, #find-birth:focus {
  background-color: white;
  font-weight: 700;
  color: black;
}

.btn.find-btn {
  color: #B0B0B0;
  background-color: grey;
  width: 100%;
  font-size: 2.7vh;
  box-sizing: border-box;
  cursor: default;
  margin-top: 11vh;
}

.btn.on-find-btn {
  color: white;
  background-color: #5AAEFF;
  width: 100%;
  font-size: 2.7vh;
  box-sizing: border-box;
  margin-top: 11vh;
}

  