.find-head {
  width: 100%;
  margin: 30px 0;
  line-height: 300%;
  font-size: 20px;
  margin-top: 60px;
}

.find-input-area {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.find-input-area #find-birth {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
  background-color: #D5D5D5;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  color: #686868;
  font-family: "Noto Sans KR", sans-serif !important;
}

.find-input-area #find-email {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
  background-color: #D5D5D5;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  color: #686868;
  font-family: "Noto Sans KR", sans-serif !important;
}

.find-input-area #find-email:focus, #find-birth:focus {
  background-color: white;
  font-weight: 700;
  color: black;
}

.btn.find-btn {
  color: #B0B0B0;
  border: 2px solid #B0B0B0;
  background-color: white;
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  cursor:default;
  position: sticky;
  bottom: 0;
  margin-top: 70px;
}

.btn.on-find-btn {
  color: white;
  background-color: #5AAEFF;
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  margin-top: 70px;
}

  