.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.join-confirm-logo {
  font-size: 7vh;
  font-weight: 900;
  margin-bottom: 10px;
}

.join-confirm-divide-line {
  border: none;
  height: 1px;
  color: #ddd;
  background-color: #ddd;
}

#joinForm {
  width: 100%;
  height: 75vh;
  margin: 0 auto;
}

ul.join_box {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
}

.checkBox,.checkBox>ul {
  position: relative;
  width: 100%;
}

.checkBox>ul>li {
  float: left;
}

.checkBox>ul>li:first-child {
  width: 85%;
  padding: 13px;
  font-weight: 600;
  color: rgb(100, 100, 100);
  font-size: 3.5vw;
}
@media (min-width: 1200px) {
  .checkBox>ul>li:first-child {
    font-size: 1.1vw;
  }
}
.checkBox>ul>li:nth-child(2) {
  position: absolute;
  top: 50%;
  right: 5vw;
  margin-top: -12px;
}
@media (min-width: 768px) {
  .checkBox>ul>li:nth-child(2) {
    margin-top: -20px;
  }
}
@media (min-width: 1200px) {
  .checkBox>ul>li:nth-child(2) {
    right: 40px;
    margin-top: -12px;
  }
}
.checkBox>ul>li:nth-child(2) .fa-check-circle {
  margin: 0;
  font-size: 5vw;
}
@media (min-width: 1200px) {
  .checkBox>ul>li:nth-child(2) .fa-check-circle {
    font-size: 120%;
  }
}


.checkBox textarea {
  width: 91%;
  height: 18vh; 
  margin-left: 15px;
  background-color: #f7f7f7;
  color: #888; 
  border: none;
  font-size: 3vw;
  resize: none;
  padding: 5px 10px;
  border-radius: 5px;
}
@media (min-width: 1200px) {
  .checkBox textarea {
    font-size: 0.9vw;
    width: 94%; 
    padding: 5px 15px;
  }
}


#joinForm .join-confirm-btn-area {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.join-confirm-btn-area .join-confirm-btn {
  width: 49%;
  height: 7vh;
  border-radius: 5px;
  line-height: 7vh;
  text-align: center;
  font-size: 5vw;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .join-confirm-btn-area .join-confirm-btn {
    font-size: 1.5vw;
    font-weight: 500;
  }
}


.join-confirm-btn-area .join-confirm-agree {
  background-color: #5AAEFF;
  color: #fff
}

.join-confirm-btn-area .join-confirm-agree-off {
  background-color: #888;
  color: #fff;
  cursor: default;
}

.join-confirm-btn-area .join-confirm-disagree {
  background-color: #fff;
  border: 1px solid #888;
  color:#888;
  line-height: 6.5vh;
}

.on-check-btn {
  color: #5AAEFF;
  animation-name: check;
	animation-duration: 0.5s;
}
@keyframes check {
	50% {transform: scale(1.2)}
	100% {transform: scale(1)}
}

.join-confirm-box-dark {
  background-color: transparent !important;
  border-color: rgb(87, 87, 87) !important;
}

.join-confirm-textarea-dark {
  background-color: #D5D5D5 !important;
}

.hr-dark {
  background-color: rgb(87, 87, 87) !important;
}