.join-logo {
  margin: 10px 0;
}

.join-input-area {
  width: 100%;
  margin: 0 0 -1px 0;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #B0B0B0;
  position: relative;
}
.join-input-area:focus {
  border: 2px solid black;
}

.sex-area {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.join-input-area #email-join {
  width: 26%;
  margin: 30px 0 0 20px;
  box-sizing: border-box;
  border: 0;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif !important;
}
.join-input-area #email-join:focus {
  outline: none !important;
  border: 2px solid #5AAEFF;
  border-radius: 5px;
  font-weight: 700;
}

.join-input-area #email-join2 {
  display: inline-block;
  width: 27%;
  box-sizing: border-box;
  border: 0;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif !important;
}
.join-input-area #email-join2:focus {
  outline: none !important;
  border: 2px solid #5AAEFF;
  border-radius: 5px;
  font-weight: 700;
}

.join-input-area #email-combo{
  width: 27%;
  box-sizing: border-box;
  border: 0;
  font-family: "Noto Sans KR", sans-serif !important;
  color: #686868;
}
.join-input-area #email-combo:focus{
  outline: none;
}

.join-input-area .common-input-join {
  width: 90%;
  box-sizing: border-box;
  margin: 30px 0 0 20px;
  border: 0;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif !important;
}
.join-input-area .common-input-join:focus {
  outline: none !important;
  border: 2px solid #5AAEFF;
  border-radius: 5px;
  font-weight: 700;
}

.join-input-area .birth-join {
  width: 25%;
  box-sizing: border-box;
  margin: 30px 0 0 20px;
  border: 0;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif !important;
}
.join-input-area .birth-join:focus {
  outline: none !important;
  border: 2px solid #5AAEFF;
  border-radius: 5px;
  font-weight: 700;
}

.join-input-area label {
  position: absolute;
  top: 2px;
  left: 10px;
  font-weight: 600;
}

.email-join-span {
  color: #B0B0B0;
}

.btn {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn.join-btn {
  color: #B0B0B0;
  border: 2px solid #B0B0B0;
  background-color: white;
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  cursor:default;
}

.btn.on-join-btn {
  color: white;
  background-color: #5AAEFF;
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
}

.btn.on-join-btn-woman {
  color: white;
  background-color: #D3779D;
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
}



.join-err-msg {
  margin: 0 0 0 20px !important;
  font-size: 14px;
}
.join-suc-msg {
  margin: 0 0 0 20px !important;
  font-size: 14px;
}

i {
  font-size: 5rem;
  margin: 0 80px;
  cursor: pointer;
  color: #686868;
}

.change-color {
  color: #5AAEFF !important;
}

.change-color-woman {
  color: #D3779D;
}