.wrap-container.center-container{
  height: 100%;
  width: 100%;
  padding: 0 30px;
  /* background-color: grey; */
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 0;
}
.join-profile-header {
  position: absolute;
  top: 2vh;
  left: 5vw;
  width: 30%;
}
@media (min-width:1200px) {
  .join-profile-header {
    left: 30px;
  }
}

.join-profile-back-btn{
  background-color: #DBDBDB;
  width: 12vh;
  height: 5vh;
  line-height: 5vh;
  font-size: 1.8vh;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  color: grey;
}
.join-profile-area {
  width: 100%;
  height: 50vh;
  /* padding-top:50px; */
  margin-top: 6vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.join-profile-img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  border: 2px solid grey;
  position: relative; 
}

.join-profile-img .profile-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.join-profile-img .cancle-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 20;
}

.join-profile-img .select-img:hover {
  opacity: 0.4;
}

.join-profile-img .cancle-img:hover ~ .select-img{
  opacity: 0.4;
}


/* .join-profile-img-female {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid grey;
  background-image: url("../../assets/images/defult-user-female.png");
  position: relative;
} */

.join-profile-img .join-profile-img-edit{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7vh;
  height: 7vh;
  background-image: url("../../assets/images/edit.png");
  background-color: white;
  border: 1.5px solid black;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 60%;
  cursor: pointer;
}

.join-profile-img-edit input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


.join-profile-img-female .join-profile-img-edit{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7vh;
  height: 7vh;
  background-image: url("../../assets/images/edit.png");
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 60%;
  cursor: pointer;
}
.join-profile-img .join-profile-img-edit:hover{
  background-color: #DBDBDB;
}
.join-profile-img-female .join-profile-img-edit:hover{
  background-color: #DBDBDB;
}



.join-default-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.join-profile-username{
  font-size: 4vh;
  font-weight: 900;
  margin: 1vh 0;
}
.join-profile-usercontent {
  resize: none;
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding-top: 4vh;
  overflow: hidden;
  font-size: 2vh;
}
.join-profile-usercontent::placeholder {
  font-size: 2vh;
}
.btn.join-profile-btn {
  color: #B0B0B0;
  border: 2px solid #B0B0B0;
  background-color: white;
  width: 100%;
  font-size: 2.5vh;
  box-sizing: border-box;
  cursor:default;
}
.btn.on-join-profile-btn {
  color: white;
  background-color: #5AAEFF;
  width: 100%;
  font-size: 2.5vh;
  box-sizing: border-box;
  margin-top: 8vh;
}
.btn.join-skip-btn {
  background-color: #FFE400;
  width: 100%;
  font-size: 2.5vh;
  font-weight: 700;
  box-sizing: border-box;
  margin-top: 8vh;
}

.wrap {
  overflow: hidden;
  position: relative;
}

.goNext-front {
  transform: translate(-150%, 0);
  transition: 0.7s cubic-bezier(0, 0.85, 0.58, 1) ;
}

.goNext-end {
  transform: translate(-50%, 0);
  transition: 0.7s cubic-bezier(0, 0.85, 0.58, 1);
}

.hidden {
  transform: translate(150%, 0);
  transition: 0.7s cubic-bezier(0, 0.85, 0.58, 1) ;
}

.return {
  transform: translate(0, 0);
  transition: 0.7s cubic-bezier(0, 0.85, 0.58, 1) ;
}

.join-profile-back-btn:hover {
  color: black !important;
  cursor: pointer;
}

.join-cancle-img-dark {
  color: #ebebeb !important;
}
