.join-logo {
  margin: 2vh 0;
  font-size: 5vh;
  margin-bottom: 2.5vh;
  /* font-family: 'GmarketB'; */
}

.join-input-area {
  width: 100%;
  margin: 0 0 -1px 0;
  height: 10vh;
  border-radius: 0.8vh;
  border: 1px solid #B0B0B0;
  position: relative;
}

.join-input-area input::placeholder {
  font-size: 1.7vh; 
}
.join-input-area select {
  font-size: 1.7vh;
}


.join-input-area:focus {
  border: 2px solid black;
}

.sex-area {
  width: 100%;
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.join-input-area #email-join {
  width: 30%;
  margin: 4vh 0 0 2vh;
  box-sizing: border-box;
  border: 0;
  font-size: 1.7vh;
  font-family: "Noto Sans KR", sans-serif !important;
}

.join-input-area #email-join:focus {
  outline: none !important;
  border: 2px solid #5AAEFF;
  border-radius: 0.8vh;
  font-weight: 700;
}

.join-input-area #email-join2 {
  display: inline-block;
  width: 26%;
  box-sizing: border-box;
  border: 0;
  font-size: 1.7vh;
  font-family: "Noto Sans KR", sans-serif !important;
}
.join-input-area #email-join2:focus {
  outline: none !important;
  border: 2px solid #5AAEFF;
  border-radius: 0.8vh;
  font-weight: 700;
}

.email-combo-box {
  position: relative;
}

.join-input-area #email-combo{
  width: 21vw;
  box-sizing: border-box;
  border: 0;
  font-family: "Noto Sans KR", sans-serif !important;
  color: #686868;
  position: relative;
  -webkit-appearance: menulist-button !important;
}
@media (min-width:1200px) {
  .join-input-area #email-combo {
    width: 28%;
  }
}

.join-input-area #email-combo option {
  font-size: 1.5vh;
}

.join-input-area #email-combo:focus{
  outline: none;
}

.email-combo-arrow {
  position: absolute;
  bottom: 0.4vh;
  right:10%;
  font-size: 1.5vh;
  color: grey !important;
}

.join-input-area .common-input-join {
  width: 90%;
  box-sizing: border-box;
  margin: 4vh 0 0 2vh;
  border: 0;
  font-size: 1.7vh;
  font-family: "Noto Sans KR", sans-serif !important;
}

.join-input-area .common-input-join:focus {
  outline: none !important;
  border: 2px solid #5AAEFF;
  border-radius: 0.8vh;
  font-weight: 700;
}

.join-input-area .birth-join {
  width: 25%;
  box-sizing: border-box;
  margin: 4vh 0 0 2vh;
  border: 0;
  font-size: 1.7vh;
  font-family: "Noto Sans KR", sans-serif !important;
}

.join-input-area .birth-join:focus {
  outline: none !important;
  border: 2px solid #5AAEFF;
  border-radius: 0.8vh;
  font-weight: 700;
}

.join-input-area label {
  position: absolute;
  top: 2px;
  left: 1.2vh;
  font-weight: 600;
  font-size: 2vh;
}

.email-join-span {
  color: #B0B0B0;
  font-size: 1.7vh;
}

.btn.join-btn {
  color: #B0B0B0;
  background-color: grey;
  width: 100%;
  font-size: 3vh;
  box-sizing: border-box;
  cursor:default;
}

.btn.on-join-btn {
  color: white;
  background-color: #5AAEFF;
  width: 100%;
  font-size: 3vh;
  box-sizing: border-box;
}

.btn.on-join-btn-woman {
  color: white;
  background-color: #D3779D;
  width: 100%;
  font-size: 3vh;
  box-sizing: border-box;
}



.join-err-msg {
  margin: 0 0 0 20px !important;
  font-size: 1.7vh;
}
.join-suc-msg {
  margin: 0 0 0 20px !important;
  font-size: 1.7vh;
}

i {
  font-size: 10vh;
  cursor: pointer;
  color: #686868;
}

.change-color {
  color: #5AAEFF !important;
  animation-name: onchecksex;
  animation-duration: 0.5s;
}

.change-color-woman {
  color: #D3779D;
  animation-name: onchecksex;
  animation-duration: 0.5s;
}

@keyframes onchecksex {
	50% {transform: scale(1.1)}
	100% {transform: scale(1)}
}

.join-profile-back-btn-dark {
  color: #202020 ;
}

.join-skip-btn-dark {
  color: #202020 ;
}

.join-cancle-img-dark {
  filter: invert(70);
}

@media (max-width:300px) {
  .join-input-area input::placeholder,
  .join-input-area select,
  .join-input-area #email-join,
  .join-input-area #email-join2,
  .join-input-area .common-input-join,
  .join-input-area .birth-join,
  .email-join-span,
  .join-err-msg,
  .join-suc-msg {
    font-size: 1.5vh
  }
  .join-input-area label {
    font-size: 1.7vh
  }
  .join-err-msg,
  .join-suc-msg {
    margin-left: 5vw !important;
  }
}

.confirmPoint {
  border: 1px solid#5AAEFF !important;
  border-radius: .5vh;
  background-color: #5AAEFF !important;
  color: #686868;
}

.confirm-btnid {
  position: absolute;
  right: 1vh;
  top: 3vh;
  background-color: #5AAEFF !important;
  color: white;
  border: 1px solid#5AAEFF !important;
  border-radius: 1vh;
  z-index: 1;
  width: 10vh;
  height: 5vh;
}

.confirm-btnid:focus {
  outline: none;
}

.helllotest {
  width: 75% !important;
}