
.login-checkbox-area {
  width: 100%;
  margin-bottom: 20px;
}

.login-checkbox-area input[type="checkbox"] {
  display: none;
}

.login-checkbox-area .fa-check-circle {
  margin: 0;
  font-size: 110%;
}


.login-input-area {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.social-area {
  display: flex;
  width: 100%;
}

.login-link-area {
  color: #686868;
  text-align: left;
  width: 100%;
}

.login-input-area .login-email {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
  background-color: #D5D5D5;
  padding: 15px 0 0 15px;
  box-sizing: border-box;
  color: #686868;
  font-family: "Noto Sans KR", sans-serif !important;
}

.login-input-area .login-password {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
  background-color: #D5D5D5;
  padding: 15px 0 0 15px;
  box-sizing: border-box;
  color: #686868;
  font-family: "Noto Sans KR", sans-serif !important;
}

.login-input-area label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  color: #686868;
}

.login-input-area label.is-email {
  position: absolute;
  top: 15px !important;
  left: 10px !important;
  font-size: 12px !important;
}

.login-input-area label.is-password {
  position: absolute;
  top: 15px !important;
  left: 10px !important;
  font-size: 12px !important;
}

.login-input-area .login-email:focus, .login-password:focus {
  background-color: white;
  font-weight: 700;
  color: black;
}

.login-input-area .login-email.non-text:focus + label{
  transition: ease 0.3s;
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 12px !important;
}

.login-input-area .login-email.non-text:not(:focus) + label{
  transition: ease 0.3s;
  position: absolute;
  top: 50%;
  left: 20px;
}

.login-input-area .login-password.non-text:focus + label{
  transition: ease 0.3s;
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 12px !important;
}

.login-input-area .login-password.non-text:not(:focus) + label{
  transition: ease 0.3s;
  position: absolute;
  top: 50%;
  left: 20px;
}

.btn.login-btn {
  color: #B0B0B0;
  border: 2px solid #B0B0B0;
  background-color: white;
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  cursor:default;
}

.btn.on-login-btn {
  color: white;
  background-color: #5AAEFF;
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
}
.btn.on-login-btn-error {
  color: #D5D5D5;
  background-color: #FF3636;
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
}

.btn.google-btn {
  border: 1px solid #B0B0B0;
  background-color: white;
  width: 13vw;
  padding-top: 13vw;
  height: 0;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
  position: relative;
}
@media (min-width: 1200px) {
  .btn.google-btn {
  width: 10%;
  padding-top: 10%;
  }
}

.btn.kakao-btn {
  background-color: #ffeb00;
  width: 13vw;
  padding-top: 13vw;
  height: 0;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
}
@media (min-width: 1200px) {
  .btn.kakao-btn {
  width: 10%;
  padding-top: 10%;
  }
}


.btn.google-btn .google-img {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%;
  padding: 3.5vw 3vw 3vw 3.5vw;
}
@media (min-width: 1200px) {
  .btn.google-btn .google-img {
  height: 100%;
  padding: 25% 23% 23% 25%;
  }
}

.btn.kakao-btn .kakao-img {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  padding: 4vw 4.5vw 4vw 4vw;
}
@media (min-width: 1200px) {
  .btn.kakao-btn .kakao-img {
  height: 100%;
  padding: 33% 30% 30% 30%;
  }
}
.go-join, .go-find {
  margin: 16px 0;
  color: #686868 !important;
}

.go-join-in:hover {
  color: #5AAEFF !important;
  cursor: pointer;
}

.go-find-in:hover {
  color: #5AAEFF !important;
  cursor: pointer;
}

.login-email-label-error {
  color: #FF3636 !important;
  font-weight: 700;
}

.login-password-label-error {
  color: #FF3636 !important;
  font-weight: 700; 
}

.login-input-area .login-email-error {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: 1.5px solid #FF3636 !important;
  background-color: #D5D5D5;
  padding: 15px 0 0 15px;
  box-sizing: border-box;
  color: #686868;
  font-family: "Noto Sans KR", sans-serif !important;
}

.login-input-area .login-password-error {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: 1.5px solid #FF3636 !important;
  background-color: #D5D5D5;
  padding: 15px 0 0 15px;
  box-sizing: border-box;
  color: #686868;
  font-family: "Noto Sans KR", sans-serif !important;
}

.on-login-checkbox {
  animation: oncheck 2s;
}

@keyframes oncheck {
  from {

  }
  to {
    
  }
}