.seller {
	margin: 0;
	color:#F9E000;
	font-size: 2.5vh;
	position: absolute;
	top: -0.7vh;
	right: -1vh;
	
}
.in-img {
	position: relative;
}

.seller2 {
	margin: 0;
	color:#F9E000;
	font-size: 3vh;
	position: absolute;
	top: 5%;
	left: 20px;
	
}

.user-opponent {
	position: relative;
}