.search-container {
  width: 100%;
  height: 80vh;
  overflow: auto;
}

.search-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 8vh;
  z-index: 50000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar .fas {
  transition: ease 0.3s;
}

.search-bar .fa-hashtag, .search-bar .fa-user{
  font-size: 3vh;
  margin: 0 1.4vh;
  color: black;
  transition: ease 0.3s;
}
@media (max-width:449px) {
  .search-bar .fa-hashtag, .search-bar .fa-user  {
    font-size: 2.5vh;
    margin-left: 1vh;
    margin-right: 0.5vh;
  }
}

.search-bar .fas:hover{
  color: #5AAEFF !important;
}

.search-bar .fa-user:hover {
  color: #5AAEFF; 
}

.search-bar .fa-undo-alt {
  font-size: 2vh;
  margin: 0;
  transform: rotate(110deg)
}
@media (max-width:449px) {
  .search-bar .fa-undo-alt  {
    font-size: 1.5vh;
  }
}

.search-bar .fa-undo-alt:hover {
  color: tomato !important;
  transform: rotate(480deg);
  transition: ease 0.8s;
}

.search-input {
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent !important;
  width: 21vh;
  font-size: 2vh;
  animation-name: oninput;
	animation-duration: .7s;
}
@media (max-width:449px) {
  .search-input {
    width: 35vw;
    font-size: 3vw;
    animation-name: oninput2;
  }
}
@media (max-width:300px) {
  .search-input {
    width: 30vw;
    font-size: 3vw;
    animation-name: oninput3;
  }
}

@keyframes oninput {
  0% {width: 0}
  100% {width: 21vh}
}
@keyframes oninput2 {
  0% {width: 0}
  100% {width: 35vw}
}
@keyframes oninput3 {
  0% {width: 0}
  100% {width: 30vw}
}


.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  font-size: 2vh;
}
@media (max-width:449px) {
  .search-input::placeholder  {
    font-size: 3vw;
  }
}

.search-bar .inner-search-btn {
  font-size: 2.5vh;
  margin: 0;
  color: #050505;
  transition: all 0.2s ease;
}
@media (max-width:449px) {
  .search-bar .inner-search-btn  {
    font-size: 2vh;
  }
}


.search-bar .inner-search-btn:hover {
  color: #5AAEFF;
}

.search-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-inner-box {
  width: 33%;
  padding-top: 30%;
  margin: 1px;
  background-color: grey;
  position: relative;
  transition: 0.2s;
}

.search-inner-box:hover {
  transform: scale(1.1);
  z-index: 10;
  box-shadow: 0 5px 20px rgba(0,0,0,1);
}

.search-inner-box .search-inner-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 15%;
  font-size: 2vw;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  border: 1.5px solid black;
  z-index: 20;
  opacity: 0;
  transition: 0.5s;
}
@media (min-width:1200px) {
  .search-inner-box .search-inner-btn {
    font-size: 12px;
  }
}

.search-inner-box:hover .search-inner-btn {
  opacity: 0.8;
}

.search-inner-box .search-inner-btn:hover {
  opacity: 1;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.search-inner-box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.search-inner-box:hover img{
  opacity: 0.8;
}

.search-inner-box .search-more-box {
  position: absolute;
  top:0;
  left:0;
  width: calc(200% + 2px);
  height: calc(300% + 4px);
  background-color: bisque;
  z-index: 30000;
  transform: scale(0);
  transition: all 1s ease;
}

.search-more-user-data {
  display: flex;
  width: 100%;
  align-items: center;
}
.search-more-user-profile {
  width: 4vh;
  height: 4vh;
  background-color: grey;
  border-radius: 50%;
}

.search-more-user-profile img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.search-more-article-head p {
  margin: 0 2vh;
}
.search-more-article-head .search-more-username {
  font-weight: 700;
  font-size: 1.5vh;
}
.search-more-article-head .search-more-article-date {
  font-size: 1vh;
  color: grey;
}

.search-more-content {
  width: 100%;
  margin-top: 0.5vh;
}
.search-more-content .search-more-content-img {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: grey;

}

/* @media (min-height: 569px) and (max-height: 667px) {
  .search-more-content-img {
    height: 400px !important;
  }
} */



.search-more-content .search-more-content-img img{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.search-more-content .search-more-btn-box {
  display: flex;
  width: 100%;
  padding-top: 1vh;
}

.search-more-content .search-more-btn-box .search-more-btn-left {
  display: flex;
  align-items: center;
  width: 50%;
}

.search-more-content .search-more-btn-box .search-more-btn-left .fas {
  font-size : 100%;
  margin: 0 1vh 0 1vh;
  cursor: pointer;
}

.search-more-content .search-more-btn-box .search-more-btn-right {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}

.search-more-content .search-more-btn-box .search-more-btn-right .fas {
  font-size : 100%;
  margin: 0;
  margin-right: 1vh;
  cursor: pointer;
}


.search-more-content .search-more-content-head {
  font-weight: 900;
  font-size: 2vh;
  margin-left: 1vh;
  margin-top: 1vh;
}

.search-more-content .search-more-content-tag {
  font-weight: 700;
  font-size: 1.7vh;
  margin-left: 1vh;
}

.search-more-visible {
  transform: scale(1) !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s !important;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.hash-group {
  position: absolute;
  top: 8vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 120%;
  border-radius: 0.8vh;
  background-color: white;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hash-group .hash-item {
  padding: 0.1vh 1vh;
  background-color: #050505;
  color: #fff;
  border-radius: 1.3vh;
  margin: 0.3vh 0.8vh 0.3vh 0.8vh;
  font-size: 1.7vh;
  padding-left: 1vh;
  font-weight: 700;
}

.hash-item .hash-item-close-btn {
  display: inline-block;
  cursor: pointer;
  /* margin-right: 5px; */
}

.hash-item-close-btn .fa-times {
  font-size: 1.5vh;
  font-weight: 600;
  color: #fff;
  margin: 0;
  margin-right: 0.5vh;
}

.hash-item-close-btn .fa-times:hover{
  color: #fc0303 !important;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.search-input-dark {
  border-bottom: 1px solid !important;
  color: #ebebeb !important;
  transition: 0.1s ease;
}

.search-icon-black {
  color: #ebebeb !important;
  
}

.search-icon-black:hover {
  color: #5AAEFF !important;
}