.settings-name {
  text-align: center;
  margin: 3vh;
  margin-top: 8vh;
  font-size: 5vh;
}

.settings-btn-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60vh;
}

.btn.change-password-btn {
  color: white;
  background-color: #B0B0B0;
  width: 100%;
  font-size: 2.5vh;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.btn.logout-btn {
  color: white;
  background-color: #B0B0B0;
  width: 100%;
  font-size: 2.5vh;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.btn.change-search-btn {
  color: white;
  background-color: #B0B0B0;
  width: 100%;
  font-size: 2.5vh;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.btn.signout-btn {
  color: white;
  background-color: #B0B0B0;
  width: 100%;
  font-size: 2.5vh;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.settings-btn:hover {
  opacity: 0.6;
  color: black;
}
